<div class="body">
    <div class="container center">


        <mat-grid-list cols="6" rowHeight="200px">
            <mat-grid-tile colspan="5" rowspan="1">
                <mat-card *ngIf="user">
                    <h2>User Details</h2>
                    <mat-divider></mat-divider>
                    <div class="readerDetails">
                        <h4><strong>Fist name: </strong> {{ user.first_name }}</h4>
                        <h4><strong>Last name: </strong> {{ user.last_name }}</h4>
                        <h4><strong>Email:</strong> {{ user.email }}</h4>
                    </div>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-card>
                    <img class="center" src="https://img.icons8.com/wired/128/ffffff/circled-user.png" />
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="2">
                <mat-card>
                    <img class="center" src="https://img.icons8.com/wired/128/ffffff/book-shelf.png" />
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile colspan="5" rowspan="2">
                <mat-card *ngIf="booksForUser">
                    <app-reader-booklist *ngIf="booksForUser.length" [userBookList]="booksForUser" [userId]="user.id">
                    </app-reader-booklist>

                    <div class="noBooks center" *ngIf="!booksForUser.length">
                        <img src="https://img.icons8.com/dotty/200/ffffff/nothing-found.png" />

                        <h2>No books are presenet...</h2>
                    </div>

                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>

        <button style="margin: 2px;" mat-raised-button [routerLink]="['/']"
            routerLinkActive="router-link-active">Back</button>

        <button style="margin: 2px; float:right;" mat-raised-button (click)="openAddBookDialog()">Add Book</button>

    </div>


</div>